bx
**/venv
**/.git
**/.gitmodules
**/.gitignore
**/.idea
**/node_modules
web/ui/static
**/__pycache__
brain/brain/nltk_data
brain/brain/experiments/*.txt
data
config
bot/emu
bot/emu_link
bot/node_modules
