[submodule "bot"]
	path = bot
	url = ssh://git@bitbucket.org/fanlens/bot.git
	branch = dev
[submodule "web"]
	path = web
	url = ssh://git@bitbucket.org/fanlens/web.git
	branch = dev
[submodule "common"]
	path = common
	url = ssh://git@bitbucket.org/fanlens/common.git
	branch = dev
[submodule "brain"]
	path = brain
	url = ssh://git@bitbucket.org/fanlens/brain.git
	branch = dev
[submodule "worker"]
	path = worker
	url = ssh://git@bitbucket.org/fanlens/worker.git
	branch = dev
[submodule "crawler"]
	path = crawler
	url = ssh://git@bitbucket.org/fanlens/crawler.git
	branch = dev
