version: '3'

services:

  db:
    ports:
      - "5432:5432"
    env_file: config/postgres.dev.env
    logging: &nonelog
      driver: none

  redis:
    ports:
      - "6379:6379"
    logging:
      <<: *nonelog

  rabbitmq:
    env_file: config/rabbitmq.dev.env
    ports:
      - "8080:15672"
      - "5672:5672"
    logging:
      <<: *nonelog

  lb:
    env_file: config/lb.dev.env
    volumes:
      - ./config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    logging:
      <<: *nonelog

  bot:
    env_file: config/bot.dev.env
    volumes:
      - ../bot:/usr/src/app
    ports:
      - 3978:3978
    logging:
      <<: *nonelog

  worker:
    image: chjdev/fanlens:dev
    volumes:
      - ..:/usr/src/app
      - ./data/:/usr/src/brain/data/
    command: [celery, worker, -B, -s, /tmp/celerybeat-schedule, -A, worker, -l, debug]
    env_file:
      - config/db.dev.env
      - config/crawler.dev.env
      - config/worker.dev.env
      - config/gce.env
    logging:
      <<: *nonelog

  api:
    image: chjdev/fanlens:dev
    volumes:
      - ..:/usr/src/app
      - ./config/gunicorn.py:/etc/gunicorn/gunicorn.py:ro
    command: [python, -mapi, -d, --bind, 0.0.0.0, --port, "5000"]
    ports:
      - 5000
    env_file:
      - config/db.dev.env
      - config/web.dev.env
    logging:
      <<: *nonelog

  ui:
    image: chjdev/fanlens:dev
    entrypoint: /usr/src/app/deploy/entrypoint.dev.sh
    volumes:
      - ..:/usr/src/app
      - ./config/gunicorn.py:/etc/gunicorn/gunicorn.py:ro
    command: [python, -mui, -d, --bind, 0.0.0.0, --port, "5000"]
    ports:
      - 5000
    env_file:
      - config/db.dev.env
      - config/web.dev.env
    logging:
      <<: *nonelog

  cdn:
    volumes:
      - ../web/ui/static:/usr/share/nginx/html/static:ro
    ports:
      - 80
    logging:
      <<: *nonelog
