NODE_ENV=
FL_BOT_APP_ID=
FL_BOT_APP_PASSWORD=
FL_BOT_DEV_MODE=false
FL_BOT_API_HOST=https://api.fanlens.io
FL_BOT_UI_HOST=https://fanlens.io
FL_BOT_DEMO_SOURCE_ID=
FL_BOT_DEMO_MODEL_ID=
FL_BOT_LUIS_COMMAND_ID=
FL_BOT_LUIS_COMMAND_KEY=
FL_BOT_LUIS_TOP_ID=
FL_BOT_LUIS_TOP_KEY=
